MAGENTO_REPOSITORY=git@github.com:qunity/magento.git

MAGENTO_ADMIN_*_*_IDENTITY=<lastname>:<firstname>
MAGENTO_ADMIN_*_*_USER=<username>
MAGENTO_ADMIN_*_*_EMAIL=<email>
MAGENTO_ADMIN_*_*_PASSWORD=<password>
MAGENTO_ADMIN_*_*_FIRSTNAME=<firstname>
MAGENTO_ADMIN_*_*_LASTNAME=<lastname>
